@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserEmail")))
{
	<span>Xin chào, @HttpContextAccessor.HttpContext.Session.GetString("UserEmail")</span>
	<form method="post" asp-page="/Index" asp-page-handler="Logout" class="d-inline">
		<button type="submit" class="btn btn-danger">Đăng xuất</button>
	</form>
}
else
{
	<a class="btn btn-primary" asp-page="/Login">Đăng nhập</a>
}
