@page "{id:int}"
@model UI.Pages.Admins.accounts.ViewDetailModel
@{
    Layout = "_LayoutAdmin";
}

<h2>Account Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Account Name</dt>
        <dd class="col-sm-10">@Model.Account.AccountName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Account.AccountEmail</dd>

        <dt class="col-sm-2">Role</dt>
        <dd class="col-sm-10">@Model.Account.AccountRole</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Account.AccountStatus</dd>
    </dl>
    <a asp-page="Index" class="btn btn-primary">Back to List</a>
</div>